#
# This is a sample environmental file showing what needs to be set to 
# do the rebundling
#

# region specific things
#EC2_KERNEL_32=aki-2181a955
#EC2_RAMDISK_32=ari-2581a951
#EC2_KERNEL_64=aki-4d81a939
#EC2_RAMDISK_64=ari-4181a935
EC2_URL=https://ec2.amazonaws.com 
# or https://eu-west-1.ec2.amazonaws.com
BUCKET=northscale
LOCATION=US
# or EU

# gloabal things
export JAVA_HOME=/usr/jdk/latest
export EC2_HOME=/opt/ec2
PATH=$PATH:$EC2_HOME/bin 
RUBYLIB=$EC2_HOME/lib 
EC2_PRIVATE_KEY=/mnt/keys/pk-WBDFRTOLJOOKKAESM24HXVVCW556MAYH.pem
EC2_CERT=/mnt/keys/cert-WBDFRTOLJOOKKAESM24HXVVCW556MAYH.pem
#EC2_KEYID=blah
#EC2_KEY=blah
#EC2_ACCT_NUM=1234-5678-9012
DIRECTORY=/mnt 
DIRECTORY=/mnt
IMGBASE=community-memcached-1.4.0-with-tools
if [[ `isalist | cut -f 1 -d " "` == "amd64" ]]; then
  EC2_ARCH=amd64
else
  EC2_ARCH=i386
fi
IMAGE=$IMGBASE-$EC2_ARCH
